.hotsale{
  width: 1280px;
  margin: 0 auto;
  &-h{
    padding-bottom: 10px;
    font-size: 22px;
    color: #666666;
    &-span{
      font-size: 14px;
      color: #989898;
      padding: 0 10px;
    }
  }
}