.itemself{
  width: 240px;
  box-sizing: border-box;
  border: 4px solid #ffffff;
  margin: 0 10px;
  padding: 4px;
  &:hover{
    border: 4px solid #ff6600;
    box-shadow: 0 4px 4px rgba(102,102,102,0.65);
  }
  &-pic{
    &-link{
      display: block;
      &-img{
        display: block;
        width: 224px;
        height: 224px;
      }
    }
  }
  &-intro{
    .itemself-des{
      &-title{

      }
      &-detail{

      }
    }
  }
  &-price{
    &-now{

    }
    &-pre{

    }
    &-star{

    }
  }
  &-count{

  }
  &-comment{

  }
  &-cart-add{

  }
}