.announcement{
  border: 1px solid #dededd;
  overflow: hidden;
  padding: 2px 6px;
}
.ant-tabs-nav{
  width: 100%;
}
.ant-tabs-nav .ant-tabs-tab{
  color: #666;
  width: 23.33%;
  text-align: center;
  margin: 0 5%;
  padding: 8px 0;
}
.ant-tabs-nav .ant-tabs-tab:hover {
  color: #666;
  font-weight: bold;
}
.ant-tabs-nav .ant-tabs-tab-active{
  color: #666;
  font-weight: bold;
}
.ant-tabs-ink-bar{
  background-color: #fe6a00;
}