.usercontent{
  width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
  &-info{
    width: 210px;
    background: #fd6760;
    &-h3{
      background: #ec4f4a;
      line-height: 40px;
      color: #fff;
      text-indent: 20px;
      font-weight: bold;
    }
    &-avatar{
      padding: 20px 0 0;
      &-icon{
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 4px solid #fff;
        margin: 0 auto;
      }
      &-edit{
        line-height: 48px;
        color: #fecac8;
        font-size: 14px;
        &-icon{
          color: #fecac8;
          padding-right: 4px;
          font-size: 14px;
        }
        &:hover{
          color: #fff;
        }
        &:hover .usercontent-info-avatar-edit-icon {
          color: #fff;
        }
      }
    }
    &-name{
      padding: 8px 0 20px;
      text-align: center;
      &-span{
        color: #fff;
        font-size: 16px;
      }
    }
  }
  .ant-tabs-nav .ant-tabs-tab{
    color: #666;
    width: 210px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-size: 12px;
  }
  .ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab {
    text-align: center;
  }
  .ant-tabs-nav .ant-tabs-tab:hover {
    font-weight: normal;
    color: #000;
    background: #E7E7E7;
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    color: #000;
    background: #E7E7E7;
    font-weight: normal;
  }
  &-tabs{
    margin: 10px 0;
    .ant-tabs-bar{
      background: #f7f7f7;
      color: #777;
    }
    &-basic{
      background: #fff;
    }
    &-order{
      background: #fff;
    }
  }
}