.regeditbox{
  min-width: 1280px;
  padding: 40px 0;
  background: url("../../../../static/img/regeditBox/bg.png") #FAFAFA repeat 50% 50%;
  &-dialog{
    width: 860px;
    padding: 10px;
    height: 600px;
    box-sizing: border-box;
    margin: 0 auto;
    border: 6px solid #d0d0d0;
    background: #ffffff;
  }
  .ant-tabs-nav .ant-tabs-tab{
    color: #666;
    width: 40.33%;
    text-align: center;
    margin: 0 5%;
    padding: 10px 0;
    font-size: 18px;
  }
  .ant-tabs-nav .ant-tabs-tab:hover {
    color: #f32613;
    font-weight: normal;
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    color: #f32613;
    font-weight: normal;
  }
}