.itemother{
  width: 1280px;
  margin: 0 auto 10px;
  border: 1px solid #e6e6e6;
  &-comment-total{
    height: 80px;
    &-left{
      color: #f32613;
      padding: 10px 0;
      text-align: center;
      &-span{
        padding: 0 4px;
        display: inline-block;
        &-strong{
          font-size: 40px;
        }
      }
    }
    &-center{
      padding: 10px 0;
      &-li{
        width: 170px;
        line-height: 20px;
        &-span{
          float: right;
          width: 100px;
        }
      }
    }
    &-right{
      padding: 0 20px;
      border-left: 1px dotted #e6e6e6;;
      height: 60px;
      margin: 10px 0;
      &-title{
        color: #666;
        padding-top: 10px;
      }
      &-btn{
        background-color: #DA4F49;
        border-color: #c44742 #c44742 #a33b37 #c44742;
        color: #FFF;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.10);
        padding: 4px 16px;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        &:hover{
          background-color: #BD362F;
          border-color: #aa312a #aa312a #8e2823 #aa312a;
        }
        &-span{
          font-size: 14px;
          padding-right: 6px;
        }
      }
    }
  }
}