.itemother{
  width: 1280px;
  margin: 0 auto 10px;
  border: 1px solid #e6e6e6;
  &-comment-total{
    height: 80px;
    &-left{
      color: #f32613;
      padding: 10px 0;
      text-align: center;
      &-span{
        padding: 0 4px;
        display: inline-block;
        &-strong{
          font-size: 40px;
        }
      }
    }
    &-center{
      padding: 10px 0;
      &-li{
        width: 170px;
        line-height: 20px;
        &-span{
          float: right;
          width: 100px;
        }
      }
    }
    &-right{

    }
  }
}