.iteminfo{
  width: 1280px;
  margin: 0 auto;
  padding: 20px 0 10px;
  &-left{
    padding: 40px;
    border: 1px solid #eee;
    &-img{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}